  <body class="landing is-preload">
    <div id="page-wrapper">

      <!-- Header -->
        <header id="header" class="alt">
          <h1><a href="/">Fine Free</a> by Tim Hannifan and Sam Gallicchio @ UChicago</h1>
        </header>

      <!-- Banner -->
        <section id="banner">
          <h2>Fine Free</h2>
          <p>Avoid costly parking fines by sharing local knowledge</p>
        </section>

      <!-- Main -->
        <section id="main" class="container">

          <section class="box special">
            <header class="major">
              <h2>Introducing the first crowd-sourced
              <br />
              knowledge base for avoiding parking fines</h2>
              <p>People helping people</p>
            </header>
            <span class="image featured"><img src="images/traffic.jpg" alt="" /></span>
          </section>

          <div id="more" class="row">
            <div class="col-12 col-12-narrower">
              <section class="box special">
                <h3>Don't get caught slipping</h3>
                <p>Parking fines cost US drivers an estimated $400 million dollars per year. Fortunately, some of these fines can be avoided by arming drivers with real-time information about restrictions due to street cleaning/shoveling, construction, parades and festivals.</p>
              </section>

            </div>
          </div>

          <section class="box special features">
            <div class="features-row">
              <section>
                <span class="icon solid major fa-hand-holding-heart accent2"></span>
                <h3>Sharing is caring</h3>
                <p>Share this site with your friends and neighbors, and help grow the Fine Free network. The more people use the service, the more useful it becomes.</p>
              </section>
              <section>
                <span class="icon solid major fa-thumbs-up accent2"></span>
                <h3>Our guarantee</h3>
                <p>We won't sell your data to any other party. Fine Free is available world-wide for free, forever. Or at least until Google Fusion Tables dies on Dec 13, 2019.</p>
              </section>
            </div>
          </section>
        <!-- MAP -->


        <!-- Map -->
        <section id="mfalse"></section>
        <section id="map">
          <header class="major">
            <h2>Parking conditions near you</h2>
            <p>Updates are added in real-time. Check back soon!</p>
          </header>
          
          <div class="col-12 col-12-narrower">
            <div id="googft-mapCanvas"></div>
            <script type="text/javascript">
              function initialize() {
                console.log('running init1')
                // var isMobile = (navigator.userAgent.toLowerCase().indexOf('android') > -1) ||
                //   (navigator.userAgent.match(/(iPod|iPhone|iPad|BlackBerry|Windows Phone|iemobile)/));
                // if (isMobile) {
                //   var viewport = document.querySelector("meta[name=viewport]");
                //   viewport.setAttribute('content', 'initial-scale=1.0, user-scalable=no');
                // }
                var mapDiv = document.getElementById('googft-mapCanvas');
                mapDiv.style.width = '100%';
                mapDiv.style.height = '100%';
                var map = new google.maps.Map(mapDiv, {
                  center: new google.maps.LatLng(41.800395152481855, -87.59185037294924),
                  zoom: 12,
                  mapTypeId: google.maps.MapTypeId['ROADMAP']
                });
                map.controls[google.maps.ControlPosition['RIGHT_BOTTOM']].push(document.getElementById('googft-legend-open'));
                map.controls[google.maps.ControlPosition['RIGHT_BOTTOM']].push(document.getElementById('googft-legend'));

                layer = new google.maps.FusionTablesLayer({
                  map: map,
                  heatmap: { enabled: true },
                  query: {
                    select: "col10",
                    from: "1MW1Qq4Ld0dR6yW7a9BXbgUVrr74uuOHTkEg0UfAv",
                    where: ""
                  },
                  options: {
                    styleId: 2,
                    templateId: 3
                  }
                });

                // if (isMobile) {
                //   var legend = document.getElementById('googft-legend');
                //   var legendOpenButton = document.getElementById('googft-legend-open');
                //   var legendCloseButton = document.getElementById('googft-legend-close');
                //   legend.style.display = 'none';
                //   legendOpenButton.style.display = 'block';
                //   legendCloseButton.style.display = 'block';
                //   legendOpenButton.onclick = function() {
                //     legend.style.display = 'block';
                //     legendOpenButton.style.display = 'none';
                //   }
                //   legendCloseButton.onclick = function() {
                //     legend.style.display = 'none';
                //     legendOpenButton.style.display = 'block';
                //   }
                // }
              }

              function init() {
                console.log('init2')
                google.maps.event.addDomListener(window, 'load', initialize);
              }

              // Open the info window at the clicked location
              function windowControl(e, infoWindow, map) {
                infoWindow.setOptions({
                  content: e.infoWindowHtml,
                  position: e.latLng,
                  pixelOffset: e.pixelOffset
                });
                infoWindow.open(map);
              }
            </script>

            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.36&amp;libraries=visualization&amp;key=
            AIzaSyBPiMONYbEHvXmBrICeUyd1cu_3r6SMRfk
            &amp;unused-google-fusiontables"></script>

            <script type="text/javascript">
              function initialize() {
                // var isMobile = (navigator.userAgent.toLowerCase().indexOf('android') > -1) ||
                //   (navigator.userAgent.match(/(iPod|iPhone|iPad|BlackBerry|Windows Phone|iemobile)/));
                // if (isMobile) {
                //   var viewport = document.querySelector("meta[name=viewport]");
                //   viewport.setAttribute('content', 'initial-scale=1.0, user-scalable=no');
                // }
                var mapDiv = document.getElementById('googft-mapCanvas');
                mapDiv.style.width = '100%';
                mapDiv.style.height = '90vh';
                var map = new google.maps.Map(mapDiv, {
                  center: new google.maps.LatLng(41.800395152481855, -87.59185037294924),
                  zoom: 12,
                  mapTypeId: google.maps.MapTypeId['ROADMAP']
                });
                map.controls[google.maps.ControlPosition['RIGHT_BOTTOM']].push(document.getElementById('googft-legend-open'));
                map.controls[google.maps.ControlPosition['RIGHT_BOTTOM']].push(document.getElementById('googft-legend'));

                layer = new google.maps.FusionTablesLayer({
                  map: map,
                  heatmap: { enabled: true },
                  query: {
                    select: "col10",
                    from: "1MW1Qq4Ld0dR6yW7a9BXbgUVrr74uuOHTkEg0UfAv",
                    where: ""
                  },
                  options: {
                    styleId: 2,
                    templateId: 3
                  }
                });

                // if (isMobile) {
                //   var legend = document.getElementById('googft-legend');
                //   var legendOpenButton = document.getElementById('googft-legend-open');
                //   var legendCloseButton = document.getElementById('googft-legend-close');
                //   legend.style.display = 'none';
                //   legendOpenButton.style.display = 'block';
                //   legendCloseButton.style.display = 'block';
                //   legendOpenButton.onclick = function() {
                //     legend.style.display = 'block';
                //     legendOpenButton.style.display = 'none';
                //   }
                //   legendCloseButton.onclick = function() {
                //     legend.style.display = 'none';
                //     legendOpenButton.style.display = 'block';
                //   }
                // }
              }

              google.maps.event.addDomListener(window, 'load', initialize);
            </script>
          </div>            
        </section>

        <section id="report">
            <div class="col-12 col-12-narrower">
              <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScWEYQuyvJDC-R8Uz1-nA157Z97qq7gnXyq7vwqbCY_MMxX9A/viewform?embedded=true" width="640" height="1303" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

            </div>
          </section>
        </section>

      <!-- CTA -->
        <section id="cta">

          <h2>Help spread the word</h2>
          <p>Share this site with your friends and neighbors. Together we can win the battle against parking fines.</p>

        </section>

      <!-- Footer -->
        <footer id="footer">
          <ul class="icons">
            <li><a href="http://github.com/timhannifan/no-park-chicago" class="icon brands fa-github"><span class="label">Github</span></a></li>
          </ul>
          <ul class="copyright">
            <li>&copy; Tim Hannifan and Sam Gallicchio. All rights reserved.</li>
          </ul>
        </footer>

    </div>

  </body>